
/* Main CSS for pages */
*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

.wrapper {
}

.container {
  min-height: 500px;
}

/* Navigation bar styling*/
.headerNavBar {
  background-color: #0092ca;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}
.headerNavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.headerNavBar li {
  float: none;
}
.headerNavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: background-color 0.2s
}
.headerNavBar li a:hover{
  background-color: #393e46;
}


/* Footer styling + Nav Footer */
footer {
  background-color: #222831;
  color: #eeeeee;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footerNavBar {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footerNavBar li {
  display: inline;
  margin-right: 20px;
}

.footerNavBar a {
  color: #eeeeee;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footerNavBar a:hover {
  color: #0092ca;
}

div.footer-credits {
  margin-top: 10px;
  font-size: 0.9em;
}

div.footer-credits a {
  color: #00adb5;
  text-decoration: none;
}

div.footer-credits a:hover {
  text-decoration: underline;
}


/* Banner CSS */
.banner {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 1.4em;
}


/* Home view CSS*/
.bodyContainer{
  justify-content: center;
  padding: 15px 40px;
}
.homeBody p {
  font-size: 1.2em;
}

.aboutIntro {
  padding: 20px;
}
.aboutSkills {
  padding: 20px;
}
.aboutAwards {
  padding: 20px;
}
